{% extends 'base-admin.html.twig' %}

{% block title %}{{ language['don_admin_panel'] }}{% endblock %}

{% block content %}
<section class="admin-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                {% include 'sidebar.html.twig' %}
            </div>
            <div class="col-md-6 col-lg-6">
                {% if user %}
                    <h1>OK</h1>
                {% else %}
                    <div class="login-form">
                        <h1>FORM</h1>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
    </div>
</section>
{% endblock %}